body {
  background-color: #131a72 !important;
  min-height: 100vh;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}


/* Canvas das particulas */
.particles-js-canvas-el {
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1;
}


/* Mercado */
.mercado {
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.mercado_barracas {
  height: 100vh;
  display: flex;
  align-items: center;
}

.mercado_barraca {
  height: 67vh;
}

.mercado_barraca_user {
  position: absolute;
  left: 4px;
  bottom: 19px;
}

.mercado_barracas_comprar {
  position: relative;
}

.mercado_barracas_comprar img {
  opacity: 0.2;
  position: absolute;
  bottom: -144px;
}

.mercado_barracas_comprar img:first-child {
  left: -19px;
  top: -128px;
}

.mercado_barracas_comprar img:last-child {
  right: -101px;
  top: -128px;
}

/* ATUALIZAZAÇÕES MERCADO */
.botão {
  width: 109.29896545410156px;
  height: 38px;
  position: absolute;
}

.bmercado {
  background-color: #165034;
  height: 38px;
  width: 109.29896545410156px;
  border-radius: 25px;
  border: 1px solid #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 207px;
  left: 94px;
  font-size: 13px;
}

.bmercado-1 {
  left: 154px;
}

.bmercado-2 {
  left: 502px;
  top: 334px;
}

.bmercado-3 {
  left: 626px;
  top: 334px;
}

.imgbarraca {
  width: 7%;
  position: absolute;
  top: 18px;
  left: 166px;
}

.quadrado_venda {
  background-color: rgba(22.26468488574028, 80.96249878406525, 52.78754644095898, 0.8199999928474426);
  width: 381px;
  height: 210px;
  position: absolute;
  left: 354px;
  top: 113px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 2px solid black
}

.quadrado_venda_item {
  background-color: rgba(37.00000159442425, 93.00000205636024, 93.00000205636024, 1);
  width: 70px;
  height: 70px;
  position: absolute;
  left: 405px;
  top: 137px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
  border: 2px solid black
}

.quadrado_venda_item_base_venda {
  background-color: rgba(37.00000159442425, 93.00000205636024, 93.00000205636024, 1);
  width: 147px;
  height: 38px;
  position: absolute;
  left: 524px;
  top: 153px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid black
}

.quadrado_venda_item_base_venda_quantidade {
  background-color: rgba(94.2207245528698, 146.83749675750732, 146.83749675750732, 1);
  width: 67px;
  height: 38px;
  position: absolute;
  left: 564px;
  top: 153px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid black
}

.nadicionar {
  color: rgba(255, 255, 255, 1);
  width: 42px;
  height: 13px;
  position: absolute;
  left: 629px;
  top: 154px;
  text-align: center;
  font-size: 20px;
}

.nremover {
  color: rgba(255, 255, 255, 1);
  width: 42px;
  height: 13px;
  position: absolute;
  left: 525px;
  top: 154px;
  text-align: center;
  font-size: 20px;
}

.escrita_venda {
  color: rgba(255, 255, 255, 1);
  width: 155px;
  height: 13px;
  position: absolute;
  left: 475px;
  top: 119px;
  text-align: center;
  font-size: 14px;
  z-index: 1;
  text-shadow: #000000;
}

.quadrado_troca_item {
  top: 239px;
}

.quadrado_troca_item_base_venda {
  top: 256px;
}

.quadrado_troca_item_base_venda_quantidade {
  top: 256px;
}

.nadicionar_troca {
  top: 258px;
}

.nremover_troca {
  top: 258px;
}

.escrita_troca {
  top: 219px;
}

.sesquerda {
  color: rgba(255, 255, 255, 1);
  width: 31px;
  height: 19px;
  position: absolute;
  left: 379px;
  top: 161px;
  text-align: center;
  font-size: 13px;
}

.sdireita {
  color: rgba(255, 255, 255, 1);
  width: 31px;
  height: 19px;
  position: absolute;
  left: 469px;
  top: 161px;
  text-align: center;
  font-size: 13px;
}

.sesquerda_troca {
  top: 263px;
}

.sdireita_troca {
  top: 263px;
}

.barracasgerais-def {
  display: none;
}

.barracasprincipais-def {
  display: block;
}

/* fim Mercado */

/*AVATAR*/
/*SETA DE VOLTAR ATRÁS AVATAR*/
#Avatar_go_back {

  color: #35EBE0;


}

/*FUNDO DA ESCOLHA DE AVATAR*/
#Avatar_background {

  background: url("../assets/avatar_background/general/background.svg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh !important;
  width: 100vw !important;



}

/*FUNDO DO FORMULÁRIO DE IMAGENS*/
#Avatar_form {
  background: url("../assets/avatar_background/form/background.svg") no-repeat center center;
  background-size: auto;

}

/*BOTÕES DAS IMAGENS DO AVATAR*/
.Avatar_form_button {

  background-color: #174180;
  border-radius: 25%;
  width: 10vw;
  height: 20vh;


}

/*IMAGEM DENTRO DO BOTÃO*/
.Avatar_form_button input {
  width: 8vw;
  height: 16vh;
}

/*AVATAR ATUAL*/
#Avatar_current {
  border: 3px solid #35EBE0;
  border-radius: 20px;
}

/*DIV DO AVATAR ATUAL*/
.Avatar_selected {
  position: absolute;
  top: 15rem;


}

/*IMAGEM DO AVATAR QUE FOI SELECIONADO*/
#Avatar_img_selected {
  position: absolute;
  bottom: 1.5rem;
  right: 1.9rem;

}

/*AVATAR BLOQUEADO*/
.locked {
  filter: blur(1px);
  opacity: 0.8;


}

/*DIV LOCK ICON*/
#lock_icon {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 5%;
  left: 5rem;
  top: 10.5rem;
}

/*DIV LOCK ICON*/
#lock_icon2 {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 5%;
  left: 12rem;
  top: 10.5rem;
}

/*DIV LOCK ICON*/
#lock_icon3 {
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 5%;
  left: 19rem;
  top: 10.5rem;
}

/*LOCK ICON*/
#lock_icon svg path,
#lock_icon2 svg path,
#lock_icon3 svg path {
  color: #35EBE0;
}

/*FIM AVATAR*/

/* inicio lab */

#lab_alien {
  position: absolute;
  width: 267px;
  height: 157.46px;
  left: 289px;
  top: 51px;
}

#lab_texto {
  position: absolute;
  left: 40.95%;
  right: 40.41%;
  top: 35.62%;
  bottom: 11.77%;
}

.lab_button_div_out {
  width: 188px;
  height: 44.23612594604492px;
  position: absolute;
}

.lab_button_div_in {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 168.30003708600998, 0, 1);
  width: 188px;
  height: 44.23612594604492px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lab_button_span {
  color: rgba(0, 0, 0, 1);
  width: 139.37474060058594px;
  height: 18px;
  position: absolute;
  left: 24.461688995361328px;
  top: 9px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lab_button_criar {
  position: absolute;
  top: 170px;
  left: 618px;
}

.lab_button_decompor {
  position: absolute;
  top: 170px;
  left: 20px;
  width: 200px !important;
}

.lab_mensagem {
  position: absolute;
  width: 330.48px;
  height: 44.24px;
  left: 268.24px;
  top: 56.43px;
}

#lab_sinal_mais {
  position: absolute;
  width: 34.63px;
  height: 31.6px;
  left: 408.69px;
  top: 204.83px;
}

.lab_button_elementos {
  position: absolute;
  width: 87.32px !important;
  height: 79px;
  left: 279px;
  top: 174px;
  background: #D9D9D9;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.lab_button_elemento2 {
  left: 488px;
}

.lab_button_elemento3 {
  left: 380px;
}

.lab_escolha_elementos {
  box-sizing: border-box;
  position: absolute;
  width: 362px;
  height: 205px;
  left: 250px;
  top: 91px;
  background: #FFCB76;
  border: 2px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.lab_elementos {
  position: absolute;
  width: 70px !important;
  height: 70px;
  left: 396px;
  top: 108px;
  background: #F59E1B;
  border-radius: 20px;
  border: 2px solid #000000;
}

.lab_elementos_personalizacao {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.lab_nome_elemento {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  color: white;
  font-weight: bold;

}

.lab_container {
  background-image: url("../img/fundo_lab.png");
  background-position: center;
  background-size: cover;
}

.element_drop {

    appearance: none;
  
}

.lab_criar_final {
  position: absolute;
  width: 87.32px !important;
  height: 79px;
  left: 380px;
  top: 165px;
  background: #F59E1B;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.lab_decompor_final {
  position: absolute;
  width: 87.32px !important;
  height: 79px;
  left: 279px;
  top: 174px;
  background: #F59E1B;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.lab_decompor_final2 {
  left: 380px;
}

/* fim lab */

/* INICIO INDEX/HTML */

#modal_logout {
  display: none;
}

.aligned-top-right {
  position: absolute;
  left: 776px;
}

.aligned-top-left-1 {
  position: absolute;
  left: 25px;
}

.aligned-top-left-2 {
  position: absolute;
  left: 95px;
}

.aligned-top-left-3 {
  position: absolute;
  left: 149px;
  width: 7%;
  top: 20px;
}

.aligned-top-left-4 {
  position: absolute;
  left: 698px;
  top: 26px;
}

.aligned-top-left-4-dif {
  height: 14vh;
  left: 764px;
}

.centered-planeta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.barraprog {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide-in {
  0% {
    transform: translateX(-350%);
  }

  100% {
    transform: translate(200%, -100%);
  }
}

.alien_animado {
  position: absolute;
  left: -150%;
  top: -50%;
  width: 162.38px;
  height: 95.76px;
  animation: slide-in 5s forwards;
  z-index: 1;
}

.alien_destino {
  position: absolute;
  left: 510px;
  top: 120px;
  width: 162.38px;
  height: 95.76px;

}

#quantidades_elementos {
  display: none;
}

.planeta_quantidade_elementos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planeta_quantidade_elementos_seta {
  position: absolute;
  top: 21px;
  left: 5px;
}

.planeta_quantidade_elementos_titulo {
  position: absolute;
  width: 163px;
  height: 23px;
  left: 53px;
  top: 58px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.planeta_quantidade_elementos_ul {
  list-style: none;
  position: absolute;
  width: 215px;
  height: 235px;
  left: 29px;
  top: 92px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

/* INCIO INTERIOR PLANETA */
#planeta_interior {
  display: none;
}

.v13_5 {
  width: 100%;
  height: 100%;
  background: rgba(167, 66, 9, 0.9900000095367432);
  opacity: 1;
  position: absolute;
  /* top: 1px; */
  left: 0px;
}

.v13_8 {
  width: 756px;
  height: 413px;
  background: url("../images/v13_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 45px;
  overflow: hidden;
}

.v13_9 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 432px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_10 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 378px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_11 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 324px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_12 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 270px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_13 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 216px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_14 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 270px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_15 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 162px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_16 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 324px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_17 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 378px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_18 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 216px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_19 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 378px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_20 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 324px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_21 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 432px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
}

.v13_22 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 486px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_23 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 540px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_24 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 593px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_25 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 647px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_26 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 108px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_27 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 54px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_28 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
}

.v13_29 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 108px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_30 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 162px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_31 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 216px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_32 {
  width: 77px;
  height: 77px;
  background: none;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 270px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_33 {
  width: 77px;
  height: 76px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 324px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_34 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 539px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_35 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 486px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v13_36 {
  width: 77px;
  height: 77px;
  background: radial-gradient(circle, #B45D2B, #A2431B);
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 432px;
  border: 1px solid rgba(0, 0, 0, 1);
  transform: rotate(-45deg);
  overflow: hidden;
}

.v123_1691 {
  background: url("../images/v123_1691.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v123_1692 {
  width: 242px;
  height: 87px;
  background: rgba(162, 102, 38, 1);
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 153px;
}

.v123_1699 {
  width: 5px;
  height: 5px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 46px;
}

.v123_1700 {
  width: 20px;
  height: 19px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 130px;
}

.v123_1701 {
  width: 3px;
  height: 4px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 31px;
}

.v123_1702 {
  width: 1px;
  height: 2px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 24px;
}

.v123_1703 {
  width: 55px;
  height: 48px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 164px;
}

.v123_1706 {
  background: url("../images/v123_1706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v123_1707 {
  width: 242px;
  height: 87px;
  background: rgba(162, 102, 38, 1);
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 2px;
}


.v123_1715 {
  width: 20px;
  height: 19px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 52px;
}

.v123_1716 {
  width: 3px;
  height: 4px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 39px;
}

.v123_1736 {
  background: url("../images/v123_1736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v123_1737 {
  width: 401px;
  height: 144px;
  background: rgba(162, 102, 38, 1);
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 65px;
}

.v123_1744 {
  width: 9px;
  height: 8px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 65px;
}

.v123_1745 {
  width: 33px;
  height: 33px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 46px;
}

.v123_1746 {
  width: 5px;
  height: 6px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 86px;
}

.v123_1747 {
  width: 3px;
  height: 4px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 67px;
}

.imgeditar {
  position: relative;
}

.imgeditar img {
  position: absolute;
  top: -103px;
  left: -205px;
  width: 534px;
  height: 303px;
}

.imgeditar-1 {
  position: relative;
}

.imgeditar-1 img {
  position: absolute;
  top: -103px;
  left: 509px;
  width: 534px;
  height: 303px;
  transform: rotate(45deg);
}

.imgeditar-2 {
  position: relative;
}

.imgeditar-2 img {
  position: absolute;
  top: 79px;
  left: 509px;
  width: 658px;
  height: 208px;
  transform: rotate(100deg);
}

.imgeditar-3 {
  position: relative;
}

.imgeditar-3 img {
  position: absolute;
  top: -38px;
  left: -187px;
  width: 803px;
  height: 160px;
  transform: rotate(145deg);
}

.PlanetaAssetsImg {
  display: none;
  position: absolute;
  z-index: 1;
}

#planeta_interior_balde {
  height: 60vh;
}

.land {
  display: flex;
  justify-content: center;
  align-items: center;
}

.organismo_planeta_interior {
  height: 30vh;
}

.planeta_interior_modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.planeta_interior_modal .modal-content {
  background-color: #fff;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  animation: fadeOut 5s linear infinite;
}

/* Animação para a modal */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* FIM PLANETA INTERIOR */
